*{
    padding: 0;
    margin: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.logo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    color: white;
    line-height: 80px;
    padding: 0 100px;
   float: left;
}
body{
    font-family: cursive;
}
nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 6px;
}
a:hover{
    background: #1b9bff;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 950px){
    .logo{
    font-size: 30px;
    padding_left:50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width: 850px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        background: #2c3e50;
        text-align: center;
        left:  -100%;
        transition: all .5s;
        opacity: 0.7;
    }
    nav ul li{
        display: block;
        
    }
    nav ul li a{
        font-size: 18px;
       
        }
    a:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{
    background: url(img/pexels-cottonbro-3945673.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 8px);
}